.custom-tooltip {
    position: absolute;
    opacity: 0;
    transform: translateY(0px);
    transition: opacity 0.35s ease, transform 0.35s ease;
    pointer-events: none;
    z-index: 100;
}

.tooltip-body {
    position: relative;
    width: 120px;
    height: 80px;
}

.tooltip-bubble {
    width: 100%;
    height: 100%;
}

.tooltip-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
    white-space: nowrap;
}

.tooltip-percent {
    color: var(--gray-900, #f4f4f4);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.45px;
}

.tooltip-label {
    color: var(--gray-600, #a8a8a8);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.35px;
}
