@import 'tailwindcss';
@import './styles/scrollbar.css';

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@theme {
    --font-pretendard: 'Pretendard';

    --color-gray-50: #161616;
    --color-gray-100: #262626;
    --color-gray-200: #393939;
    --color-gray-300: #525252;
    --color-gray-400: #6f6f6f;
    --color-gray-500: #8d8d8d;
    --color-gray-600: #a8a8a8;
    --color-gray-700: #c6c6c6;
    --color-gray-800: #e0e0e0;
    --color-gray-900: #f4f4f4;

    --color-primary-50: #2d0709;
    --color-primary-100: #520408;
    --color-primary-200: #750e13;
    --color-primary-300: #a2191f;
    --color-primary-400: #da1e28;
    --color-primary-500: #fa4d56;
    --color-primary-600: #ff8389;
    --color-primary-700: #ffb3b8;
    --color-primary-800: #ffd7d9;
    --color-primary-900: #fff1f1;

    --color-surface: var(--color-gray-100);
    --color-surface-elevate-l1: var(--color-gray-100);
    --color-surface-elevate-l2: var(--color-gray-200);
    --color-surface-elevate-l3: var(--color-gray-300);

    --color-neutral-white: #ffffff;
    --color-neutral-white-opacity10: #ffffff1a;
    --color-neutral-white-opacity20: #ffffff33;

    --color-neutral-black: #121212;
    --color-neutral-black-opacity50: #12121280;

    --color-error: #ef4444;

    --breakpoint-*: initial;
    --breakpoint-desktop: 1440px;
    --breakpoint-tablet: 768px;
    --breakpoint-mobile: 320px;
}

@layer base {
    * {
        @apply box-border;
    }

    html,
    body {
        @apply h-full m-0 p-0;
    }

    body {
        @apply bg-surface text-gray-900 font-pretendard font-normal min-w-[320px] overflow-x-hidden overflow-y-scroll;
    }
}
