@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@import 'tailwindcss';

@theme {
    --font-pretendard: 'Pretendard';

    --color-primary-50: #2d0709;
    --color-primary-100: #520408;
    --color-primary-200: #750e13;
    --color-primary-300: #a2191f;
    --color-primary-400: #da1e28;
    --color-primary-500: #fa4d56;
    --color-primary-600: #ff8389;
    --color-primary-700: #ffb3b8;
    --color-primary-800: #ffd7d9;
    --color-primary-900: #fff1f1;

    --color-gray-50: #161616;
    --color-gray-100: #262626;
    --color-gray-200: #393939;
    --color-gray-300: #525252;
    --color-gray-400: #6f6f6f;
    --color-gray-500: #8d8d8d;
    --color-gray-600: #a8a8a8;
    --color-gray-700: #c6c6c6;
    --color-gray-800: #e0e0e0;
    --color-gray-900: #f4f4f4;
}

@layer base {
    * {
        @apply box-border;
    }

    html,
    body {
        @apply h-full m-0 p-0;
    }

    body {
        @apply bg-gray-100 text-gray-900 font-pretendard font-normal;
    }
}
<<<<<<< HEAD

@layer components {
  .font-title {
    @apply text-[16px] leading-[140%] font-normal sm:text-[18px] sm:leading-[140%] sm:font-bold md:text-[20px] md:leading-[140%] md:font-bold;
  }

  .font-title-alt {
    @apply text-[16px] leading-[140%] font-normal sm:text-[18px] sm:leading-[140%] sm:font-bold md:text-[18px] md:leading-[140%] md:font-bold;
  }

  .font-body {
    @apply text-[14px] leading-[150%] font-bold sm:text-[24px] sm:leading-[150%] sm:font-medium md:text-[16px] md:leading-[150%] md:font-normal;
  }

  .font-body-medium {
    @apply text-[16px] leading-[150%] font-medium sm:text-[24px] sm:leading-[150%] sm:font-medium md:text-[16px] md:leading-[150%] md:font-medium;
  }

  .font-body-regular {
    @apply text-[14px] leading-[150%] font-normal sm:text-[24px] sm:leading-[150%] sm:font-medium md:text-[16px] md:leading-[150%] md:font-normal;
  }

  .font-body-bold {
    @apply text-[16px] leading-[150%] font-bold sm:text-[24px] sm:leading-[150%] sm:font-medium md:text-[16px] md:leading-[150%] md:font-bold;
  }

  .font-caption {
    @apply text-[12px] leading-[140%] font-normal tracking-tight sm:text-[14px] sm:leading-[140%] sm:font-normal md:text-[14px] md:leading-[140%] md:font-normal;
  }
}

@layer components {
  .font-label-fixed {
    @apply text-[16px] leading-[150%] font-normal;
  }

  .font-footer-fixed {
    @apply text-[14px] leading-[140%] font-normal tracking-tight;
  }
}

#tooltip {
  animation-name: sway;
  animation-duration: 2s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes sway {
  0% {
    transform:translateX(0);
  }
  25% {
    transform:translateX(5px);
  }
  50% {
    transform:translateX(-5px);
  }
  75% {
    transform:translateX(5px);
  }
  100% {
    transform:translateX(0);
  }
}

=======
>>>>>>> 4d86f1bfec59c79a632db9a920af154e83d2ab0b
